body {
  margin: 0;
}

@font-face {
  font-family: CircularBold;
  src: url(./res/fonts/CircularBold.woff2);
}

@font-face {
  font-family: CircularBook;
  src: url(./res/fonts/CircularBook.woff2);
}

@font-face {
  font-family: CircularLight;
  src: url(./res/fonts/CircularLight.woff2);
}

@font-face {
  font-family: CircularCyr;
  src: url(./res/fonts/CircularCyr.woff2);
}
